<div class="container-fluid">
    <h1>Login</h1>
    <form>
      <div class="form_group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" ngModel>
      </div>

      <div class="form_group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" ngModel>
      </div>

      <div class="form_group">
        <label>Project Name</label>
        <input type="text" class="form-control" name="projectname" ngModel>
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
</div>
