<div class="container-fluid">
    <h1>Login</h1>
    <form (ngSubmit)="onLoginSubmit()">
      <div class="form_group">
        <label>Email</label>
        <input type="email" class="form-control"  name="email" [(ngModel)]="scrumUserLoginData.email">
      </div>

      <div class="form_group">
        <label>Password</label>
         <input type="password"
                class="form-control" name="password" #password='ngModel' ngModel [(ngModel)]="scrumUserLoginData.password">
      </div>

      <div class="form_group">
        <label>Project Name</label>
        <input type="text" class="form-control" name="project" ngModel [(ngModel)]="scrumUserLoginData.project">
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
</div>
